@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.font-en {
    font-family: Inter var,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.bg-gray-background {
  background-color: rgba(241, 245, 249, 1);
}

.text-gray-subtitle {
  color: rgba(71, 85, 105, 1);
}

.text-gray-title {
    color: rgba(30, 41, 59, 1);
}

.button-border {
  border-color: rgba(234, 88, 12, 1);
}

.caret-brand-600 {
  caret-color: #ea580c;
}

.fill-current {
    fill: currentColor;
}

.bg-brand-200 {
    background-color: rgba(254, 215, 170, 1);
}

.login-btn {
    line-height: 1.6;
    border-color: rgba(234, 88, 12, 1);
    background-color: rgba(234, 88, 12, 1);
    color: rgba(241, 245, 249, 1);
}

.bg-slate-50 {
  background-color: rgba(248, 250, 252, 1);
}

.bg-slate-100 {
  background-color: rgba(241, 245, 249, 1);
}

.text-brand-600 {
  color: rgba(234, 88, 12, 1);
}

.bg-gray-separator {
  background-color: rgba(202, 213, 225, 1);
}

.mini-separator {
  height: 20px;
}


.font-hi {
  font-family: Eczar,Inter var,Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

.course-seq {
  background-color: rgba(148, 163, 184, 1);
  color: rgba(255, 255, 255, 1);
}

#part-pointer.course-seq:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-right: 5px solid white;
    border-bottom: 12px solid transparent;
}

.course-card-hover:hover {
  background-color: rgba(241, 245, 249, 1);
}


.text-slate-700 {
  color: rgba(51, 65, 85, 1);
}

.bg-green-background {
  background-color: rgba(213, 237, 225, 1);
}

.hover-text-brand-600:hover {
  color: rgba(234, 88, 12, 1);
}

.hover-bg-slate-100:hover {
  background-color: rgba(241, 245, 249, 1);
}

//Acordion Transition

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1)
}

.answer.visible {
  height: auto;
  max-height: 999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.img-2 {
  top: 0.5rem;
  border-top: 2px solid white;
}

.img-3 {
  top: 1rem;
  border-top: 2px solid white;
}

.ap-sign {
  height: 3.5rem;
  right: 0.25rem;
  bottom: 0.25rem;
}

.ap-sign-small {
  height: 2.5rem;
  right: 0.25rem;
  bottom: 0.25rem;
}




